.tarefas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tarefas li {
  width: 400px;
  height: 25px;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  color: #030303;
  font-size: 20px;
  border: 2px solid #994a2d;
  font-weight: 400;
  border-radius: 12px;
  transition: all 600ms;
}
.tarefas li:hover {
  background-color: rgba(255, 69, 0, 0.1);
  transition: all 600ms;
}


.tarefas .edit {
  color: #191d5b;
  margin-right: 0.1rem;
}

.tarefas .delete {
  color: #d03a1d;
  margin-right: 0.1rem;
}

.tarefas .edit:hover,
.tarefas .delete:hover {
  cursor: pointer;
  color: black;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
